.App {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: rgb(140, 9, 228);
  background: linear-gradient(
    90deg,
    rgba(140, 9, 228, 1) 0%,
    rgba(182, 179, 205, 0.9781162464985994) 46%,
    rgba(252, 176, 69, 1) 100%
  );
}
body {
  background-color: transparent;
}
